version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: locbook_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=locbook

volumes:
  mongo_data:
