services:
  app:
    build: .
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB_NAME=locbook
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    volumes:
      - ./data:/app/data # Persist images
    depends_on:
      - mongo
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - ./mongodb:/data/db
    ports:
      - "27018:27017"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
