# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# environment
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# pwa
public/sw.js
public/workbox-*.js
public/swe-worker-*.js
public/sw.js.map
public/workbox-*.js.map
