python-telegram-bot[job-queue]
fastapi
uvicorn
google-genai
motor
beanie
python-dotenv
pydantic
pydantic-settings
requests
beautifulsoup4
pillow
aiofiles
chromadb
python-multipart
sqlmodel
asyncpg
pgvector
geoalchemy2
python-jose[cryptography]
passlib[bcrypt]
httpx