python-telegram-bot[job-queue]
fastapi
uvicorn
google-genai
python-dotenv
pydantic
pydantic-settings
beautifulsoup4
python-multipart
sqlmodel
asyncpg
pgvector
geoalchemy2
python-jose[cryptography]
passlib[bcrypt]
httpx
arq
redis